<a href="https://colab.research.google.com/github/tanuku-srivalli/Medical-Visit/blob/main/DA_TASK_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [18]:
import pandas as pd

# --- SETUP: Load data ---
df = pd.read_csv('Medical visit.csv')
print("Initial Info:")
df.info()
print("\nFirst 5 rows:")
print(df.head())

# =================================================================
## 1. Handling Missing Values (NaN)
# =================================================================

# 1.1 Check the count of missing values per column
print("\nMissing Values Count:")
print(df.isnull().sum())

# Based on the output of df.isnull().sum(), there are no missing values in this dataset,
# so no further steps for handling missing values are needed.

# =================================================================
## 2. Handling Duplicates
# =================================================================

# 2.1 Count the number of duplicate rows
duplicate_count = df.duplicated().sum()
print(f"\nTotal Duplicate Rows: {duplicate_count}")

# 2.2 Remove duplicate rows (keeping the first occurrence)
# df.drop_duplicates(inplace=True) # Uncomment this line if you want to remove all duplicate rows

# 2.3 Remove duplicates based on a subset of columns (e.g., keep the first entry for each unique user_id)
# df.drop_duplicates(subset=['PatientId', 'AppointmentID'], keep='first', inplace=True) # Example based on available columns

# =================================================================
## 3. Data Type Conversion
# =================================================================

# 3.1 Convert column to datetime for 'ScheduledDay' and 'AppointmentDay'
df['ScheduledDay'] = pd.to_datetime(df['ScheduledDay'], errors='coerce')
df['AppointmentDay'] = pd.to_datetime(df['AppointmentDay'], errors='coerce')


# =================================================================
## 4. Cleaning Text and Categorical Data
# =================================================================

# 4.1 Standardize text (remove whitespace, convert to lowercase) for 'Gender' and 'Neighbourhood'
df['Gender'] = df['Gender'].str.strip().str.lower()
df['Neighbourhood'] = df['Neighbourhood'].str.strip().str.lower()

# 4.2 Standardize 'No-show' column
df['No-show'] = df['No-show'].str.strip().str.lower()


# =================================================================
## 5. Outlier/Range Filtering
# =================================================================

# 5.1 Remove rows where 'Age' is outside a sensible range (e.g., below 0 or above 100)
df = df[(df['Age'] >= 0) & (df['Age'] <= 100)]

Initial Info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 110527 entries, 0 to 110526
Data columns (total 14 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   PatientId       110527 non-null  float64
 1   AppointmentID   110527 non-null  int64
 2   Gender          110527 non-null  object
 3   ScheduledDay    110527 non-null  object
 4   AppointmentDay  110527 non-null  object
 5   Age             110527 non-null  int64
 6   Neighbourhood   110527 non-null  object
 7   Scholarship     110527 non-null  int64
 8   Hipertension    110527 non-null  int64
 9   Diabetes        110527 non-null  int64
 10  Alcoholism      110527 non-null  int64
 11  Handcap         110527 non-null  int64
 12  SMS_received    110527 non-null  int64
 13  No-show         110527 non-null  object
dtypes: float64(1), int64(8), object(5)
memory usage: 11.8+ MB

First 5 rows:
      PatientId  AppointmentID Gender          ScheduledDay  \
0  2.987250e+13        5642903      F  2016-04-29T18:38:08Z
1  5.589978e+14        5642503      M  2016-04-29T16:08:27Z
2  4.262962e+12        5642549      F  2016-04-29T16:19:04Z
3  8.679512e+11        5642828      F  2016-04-29T17:29:31Z
4  8.841186e+12        5642494      F  2016-04-29T16:07:23Z

         AppointmentDay  Age      Neighbourhood  Scholarship  Hipertension  \
0  2016-04-29T00:00:00Z   62    JARDIM DA PENHA            0             1
1  2016-04-29T00:00:00Z   56    JARDIM DA PENHA            0             0
2  2016-04-29T00:00:00Z   62      MATA DA PRAIA            0             0
3  2016-04-29T00:00:00Z    8  PONTAL DE CAMBURI            0             0
4  2016-04-29T00:00:00Z   56    JARDIM DA PENHA            0             1

   Diabetes  Alcoholism  Handcap  SMS_received No-show
0         0           0        0             0      No
1         0           0        0             0      No
2         0           0        0             0      No
3         0           0        0             0      No
4         1           0        0             0      No

Missing Values Count:
PatientId         0
AppointmentID     0
Gender            0
ScheduledDay      0
AppointmentDay    0
Age               0
Neighbourhood     0
Scholarship       0
Hipertension      0
Diabetes          0
Alcoholism        0
Handcap           0
SMS_received      0
No-show           0
dtype: int64

Total Duplicate Rows: 0

In [19]:
import pandas as pd
import numpy as np
# --- 2.1 Convert to Datetime ---
# Convert date columns from 'object' (string) to datetime objects
# The AppointmentDay column is already datetime objects, so no need to use .str.replace()


# --- 2.2 Convert Data Types for ID Columns ---
# Convert PatientId from float to integer (or string, but integer is fine if no characters are involved)
# You might need to temporarily convert to int64, then to string if the ID is very long
df['PatientId'] = df['PatientId'].astype(np.int64)
# Set AppointmentID to string if preferred, but int64 is acceptable for this ID.
df['AppointmentID'] = df['AppointmentID'].astype(str)


# --- 2.3 Clean/Rename Columns for Readability ---
df.rename(columns={
    'Hipertension': 'Hypertension',
    'Handcap': 'Handicap',
    'No-show': 'NoShow'
}, inplace=True)


# --- 2.4 Handle Erroneous Data (Example: Age) ---
# Check for and handle impossible values, such as negative ages.
# Let's count the number of patients with Age < 0
negative_age_count = (df['Age'] < 0).sum()
print(f"\nNumber of entries with negative Age: {negative_age_count}")

# Action: If the count is small, you can remove them or replace them with the median/mean.
# We'll remove them as negative age is a clear entry error.
if negative_age_count > 0:
    df = df[df['Age'] >= 0]
    print(f"Removed {negative_age_count} rows with negative age.")


# --- 2.5 Verification ---
print("\n--- Data Check ---")
df.info()
print("\nFirst 5 rows after cleaning:")
print(df.head())

Number of entries with negative Age: 0

--- Data Check ---
<class 'pandas.core.frame.DataFrame'>
Index: 110519 entries, 0 to 110526
Data columns (total 14 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   PatientId       110519 non-null  int64
 1   AppointmentID   110519 non-null  object
 2   Gender          110519 non-null  object
 3   ScheduledDay    110519 non-null  datetime64[ns, UTC]
 4   AppointmentDay  110519 non-null  datetime64[ns, UTC]
 5   Age             110519 non-null  int64
 6   Neighbourhood   110519 non-null  object
 7   Scholarship     110519 non-null  int64
 8   Hypertension    110519 non-null  int64
 9   Diabetes        110519 non-null  int64
 10  Alcoholism      110519 non-null  int64
 11  Handicap        110519 non-null  int64
 12  SMS_received    110519 non-null  int64
 13  NoShow          110519 non-null  object
dtypes: datetime64[ns, UTC](2), int64(8), object(4)
memory usage: 12.6+ MB

First 5 rows after cleaning:
         PatientId AppointmentID Gender              ScheduledDay  \
0   29872499824296       5642903      f 2016-04-29 18:38:08+00:00
1  558997776694438       5642503      m 2016-04-29 16:08:27+00:00
2    4262962299951       5642549      f 2016-04-29 16:19:04+00:00
3     867951213174       5642828      f 2016-04-29 17:29:31+00:00
4    8841186448183       5642494      f 2016-04-29 16:07:23+00:00

             AppointmentDay  Age      Neighbourhood  Scholarship  \
0 2016-04-29 00:00:00+00:00   62    jardim da penha            0
1 2016-04-29 00:00:00+00:00   56    jardim da penha            0
2 2016-04-29 00:00:00+00:00   62      mata da praia            0
3 2016-04-29 00:00:00+00:00    8  pontal de camburi            0
4 2016-04-29 00:00:00+00:00   56    jardim da penha            0

   Hypertension  Diabetes  Alcoholism  Handicap  SMS_received NoShow
0             1         0           0         0             0     no
1             0         0           0         0             0     no
2             0         0           0         0             0     no
3             0         0           0         0             0     no
4             1         1           0         0             0     no

In [20]:
# 1. Change 'Gender' values 'f' and 'm' to 'F' and 'M' (capital letters)
df['Gender'] = df['Gender'].str.upper()

# 2. Remove ' 00:00:00+00:00' from 'AppointmentDay'
df['AppointmentDay'] = df['AppointmentDay'].dt.date
# --- Verification ---
print("\n--- Data Check ---")
df.info()
print("\nFirst 5 rows after cleaning:")
print(df.head())

--- Data Check ---
<class 'pandas.core.frame.DataFrame'>
Index: 110519 entries, 0 to 110526
Data columns (total 14 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   PatientId       110519 non-null  int64
 1   AppointmentID   110519 non-null  object
 2   Gender          110519 non-null  object
 3   ScheduledDay    110519 non-null  datetime64[ns, UTC]
 4   AppointmentDay  110519 non-null  object
 5   Age             110519 non-null  int64
 6   Neighbourhood   110519 non-null  object
 7   Scholarship     110519 non-null  int64
 8   Hypertension    110519 non-null  int64
 9   Diabetes        110519 non-null  int64
 10  Alcoholism      110519 non-null  int64
 11  Handicap        110519 non-null  int64
 12  SMS_received    110519 non-null  int64
 13  NoShow          110519 non-null  object
dtypes: datetime64[ns, UTC](1), int64(8), object(5)
memory usage: 12.6+ MB

First 5 rows after cleaning:
         PatientId AppointmentID Gender              ScheduledDay  \
0   29872499824296       5642903      F 2016-04-29 18:38:08+00:00
1  558997776694438       5642503      M 2016-04-29 16:08:27+00:00
2    4262962299951       5642549      F 2016-04-29 16:19:04+00:00
3     867951213174       5642828      F 2016-04-29 17:29:31+00:00
4    8841186448183       5642494      F 2016-04-29 16:07:23+00:00

  AppointmentDay  Age      Neighbourhood  Scholarship  Hypertension  Diabetes  \
0     2016-04-29   62    jardim da penha            0             1         0
1     2016-04-29   56    jardim da penha            0             0         0
2     2016-04-29   62      mata da praia            0             0         0
3     2016-04-29    8  pontal de camburi            0             0         0
4     2016-04-29   56    jardim da penha            0             1         1

   Alcoholism  Handicap  SMS_received NoShow
0           0         0             0     no
1           0         0             0     no
2           0         0             0     no
3           0         0             0     no
4           0         0             0     no